<ArrayOfEvent xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><Event><id>0</id><Parametres><KeyValue><Key>Timestamp</Key><Value>07.06.2019 04:12:45</Value></KeyValue><KeyValue><Key>Param2</Key><Value>Val2</Value></KeyValue><KeyValue><Key>Param5</Key><Value>Val3</Value></KeyValue></Parametres></Event><Event><id>0</id><Parametres><KeyValue><Key>Timestamp</Key><Value>07.06.2019 04:12:45</Value></KeyValue><KeyValue><Key>3</Key><Value>Val2</Value></KeyValue></Parametres></Event><Event><id>0</id><Parametres><KeyValue><Key>Timestamp</Key><Value>07.06.2019 04:12:45</Value></KeyValue><KeyValue><Key>123</Key><Value>2</Value></KeyValue><KeyValue><Key>4343</Key><Value>2424</Value></KeyValue></Parametres></Event></ArrayOfEvent>